<input type="button" value="Get" (click)="get()">
<input type="button" value="Post" (click)="posts()">
<input type="button" value="Put" (click)="put()">
<input type="button" value="Delete" (click)="delete()">


<div>
    <table>
        <tr>
            <th>ProuductName</th>
            <th>ProductPrice</th>
            <th>ProductDesc</th>
            <th>Manuf.Date</th>
            <th>Exp.Date</th>
        </tr>
        <tr *ngFor="let i of products |async" >
            <td>{{i.ProductName }}</td>
            <td>{{i.ProductDesc}}</td>
            <td>{{i.ProductPrice}}</td>
            <td>{{i.ManufactureDate}}</td>
            <td>{{i.ExpiryDate}}</td>
        </tr>
    </table>
</div>